// Text form input

input[type=text] {
  height: 38px;
  width: 9.5em;
  padding: 0 0.9em;
  margin-right: 0.5em;

  &.input-full-width {
    width: 100%;
    max-width: 100%;
  }
}

textarea, input[type=text] {
  border: 1px solid $ib-color-15;
  border-radius: 4px;
  transition: border-color .36s ease-in-out, box-shadow .36s ease-in-out;

  &:focus {
  outline: none !important;
  border: 1px solid $ib-color-21;
  box-shadow: 2px 2px 4px 0 $black_12;
  }

  &:disabled, fieldset[disabled] & {
    background-color: $ib-color-20;
    color: $ib-color-09;
  }
}

a.extern {
  color: $ib-color-17;
  text-decoration: underline;
  &:hover {
    color: $ib-color-21;
    &:after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23496CEC" width="16px" height="16px" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>');
    }
  }
  &:after {
    vertical-align: sub;
    margin-left: 2px;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%233D4260" width="16px" height="16px" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>');
  }
}
