//colors
$ib-color-07: #212121;
$ib-color-08: #3C3C3C;
$ib-color-09: #6A6A6A;
$ib-color-22: #9A9A9A;
$ib-color-23: #A9B2BD;
$ib-color-15: #CDCED6;
$ib-color-27: #D7D7DD;
$ib-color-13: #E1E1E1;
$ib-color-28: #E9EAED;
$ib-color-20: #F2F2F2;
$ib-color-24: #F5F6F7;
$ib-color-00: #FFFFFF;

$ib-color-01: #F8BFC5;
$ib-color-04: #9A303B;
$ib-color-11: #DA4453;

$ib-color-30: #355547;
$ib-color-16: #4C7B67;
$ib-color-10: #37BC9B;
$ib-color-29: #99E5D2;

$ib-color-05: #765A20;
$ib-color-12: #F6BB42;
$ib-color-18: #FFC794;
$ib-color-02: #FFEBBA;

$ib-color-19: #292F4F;
$ib-color-17: #3D4260;
$ib-color-06: #003C75;
$ib-color-26: #4B566F;
$ib-color-14: #70748A;

$ib-color-21: #496CEC;
$ib-color-25: #8AA7F5;
$ib-color-03: #B3E5FC;

$black_12: rgba(0,0,0,0.12)