// Text form input

input[type=text] {
  height: 38px;
  width: 9.5em;
  padding: 0 0.9em;
  margin-right: 0.5em;

  &.input-full-width {
    width: 100%;
    max-width: 100%;
  }
}

textarea, input[type=text] {
  border: 1px solid $ib-color-15;
  border-radius: 4px;
  transition: border-color .36s ease-in-out, box-shadow .36s ease-in-out;

  &:focus {
  outline: none !important;
  border: 1px solid $ib-color-21;
  box-shadow: 2px 2px 4px 0 $black_12;
  }

  &:disabled, fieldset[disabled] & {
    background-color: $ib-color-20;
    color: $ib-color-09;
  }
}

// Radiobuttons
.radio-wrapper {

  display: inline-block;
  padding: 0 22px 12px 22px; //22px padding to the right to give space to next component if present

  > .ib-radio {
    position: relative; //make it relative so that we cant position the input relatively

    label {
      @extend %ib-typo-07;
      display: inline-block;
      position: relative;
      padding: 0 0 0 6px; //space between checkbox and label as spec in zeplin
      margin-bottom: 0;
      cursor: pointer;
    }

    label::before, label::after {
      position: absolute;
      top: 0;
      left: -20px;
      padding: 0;
      width: 20px;
      height: 20px;

      border-radius: 50%;
    }

    //determines background layer of visual checkbox
    label::before {
      content: "";

      border: 1px solid $ib-color-23;
      box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.24);
      //transition: all .3s;
      background-color: $ib-color-00;
    }

    //determines foreground layer of visual checkbox (and tick mark)
    label::after {
      font-size: 16px;
      text-align: center;
      border: none;
      background-color: $ib-color-21;
      box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      color: $ib-color-00;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    input[type="radio"] {
      opacity: 0.01; //Important: 0.01 is not practically visible, but if we set it to 0, protractor won't find it..
      z-index: 1;

      margin: 0;
      position: absolute;

      //place it at same coordinates as the labels :before/:after content
      top: 0;
      left: -20px;
      width: 20px;
      height: 20px;

      cursor: pointer;

    }

    input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline-offset: 0px;
    }

    //The tick mark when checked
    input[type="radio"]:checked + label::after {
      content: "\25cf";
      line-height: normal;
    }

    input[type="radio"] {
      // :disabled selector doesnt work in ie11 with disabled fieldset, using fieldset[disabled] instead
      &:disabled, fieldset[disabled] & {
        cursor: not-allowed;

        & + label {
          cursor: not-allowed;
          color: $ib-color-09;
        }

        & + label::before {
          background-color: $ib-color-20;
          color: $ib-color-09;
          cursor: not-allowed;
        }

        & + label::after {
          background-color: $ib-color-09;
        }
      }
    }

    &.radio-ib-default input[type="radio"]:checked + label::before {
      background-color: $ib-color-21;
    }

  }
}
