// Text form input

input[type=text] {
  height: 38px;
  width: 9.5em;
  padding: 0 0.9em;
  margin-right: 0.5em;

  &.input-full-width {
    width: 100%;
    max-width: 100%;
  }
}

textarea, input[type=text] {
  border: 1px solid $ib-color-15;
  border-radius: 4px;
  transition: border-color .36s ease-in-out, box-shadow .36s ease-in-out;

  &:focus {
  outline: none !important;
  border: 1px solid $ib-color-21;
  box-shadow: 2px 2px 4px 0 $black_12;
  }

  &:disabled, fieldset[disabled] & {
    background-color: $ib-color-20;
    color: $ib-color-09;
  }
}
