body, input, select, textarea {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
  padding: 20px;
}

.content {
  margin: auto;
  max-width: 1200px;
  width:100%;
}

.helplinks {
  position: absolute;
  top: 550px;
}

.fake-users-container {
  width: 60%;
  float: left;
}

.login-textarea-container {
  width: 33%;
  float: right;
}

.fake-user-list {
  width: 100%;
  height: 270px;
  line-height: 1.5
}

.fake-user-list option {
  padding: 5px;
}

.login-btn {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  padding: 10px;
}

.login-textarea {
  height: 270px;
  width: 100%;
  padding: 5px;
  line-height: 1.5
}
