.ib-header-unit {
  flex: 1 1 auto;
  min-width: 120px;
  display: block;
  color: #F2F2F2;
}

.ib-header-unit .vg-name {
  white-space: nowrap;
}

.ib-header-unit .ve-name {
  white-space: nowrap;
}
