
.header-wrapper {
  display: block;
  background-color: #3D4260;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 80px;
  background-color: #3D4260;
  margin: auto;
  max-width: 1440px;
  color: #F2F2F2;

}

.header .header-section-container {
  display: flex;
  align-items: center;

  height: 100%;

  padding: 0 16px;

  border-width: 0 6px;
  border-style: solid;
  border-image-source: url(divider-border.png);
  border-image-slice: 0 50%;
  border-image-repeat: round;

}


.header .vertical-container {
  flex: 0 1 auto;

  display: flex;
  flex-direction: column;
  min-width: 1px;


}

.header .single-text-row-container {
  display: flex;
  min-width: 1px;
}

.header .truncate-when-needed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .header-icon {
  padding-right: 8px;
}

